$primary: #8bc34a;
$danger: #ff4136;

$grey-100: #efefef;
$grey-200: #d4d4d4;
$grey-300: #bdbdbd;
$grey-500: #969696;
$grey-600: #505050;

$red-100: #f9958e;
$red-200: #de9595;
$red-300: #f75246;
$red-500: #f13838;
$red-600: #ce0000;